body {
    background-size: cover;
  }
  
  #text {
    background-color: black;
    color: white;
    padding: 10px;
  }
  
  #game {
    max-width: 500px;
    max-height: 400px;
    background-color: lightgray;
    color: white;
    margin: 0 auto;
    padding: 10px;
  }
  
  #controls {
    border: 1px black solid;
    padding: 5px;
  }
  
  #stats {
    border: 1px black solid;
    color: black;
    padding: 5px;
  }
  
  #monsterStats {
    display: none;
    border: 1px black solid;
    color: white;
    padding: 5px;
    background-color: red;
  }
  
  .stat {
    padding-right: 10px;
  }
  .space #invt{
    outline: grey solid 3px;
  }
  .stage{
    /* background-color: #000; */
    text-align: center;
    filter:drop-shadow(20px 10px 30px);
  }
  .stage #stageImage{
    outline: solid red;
    border-radius: 30px;
    margin-top: 20px;
  }
